GROQ_API_KEY = ""
GROQ_FALLBACK_API_KEY = ""


GEMINI_API_KEY = ""

QDRANT_API_KEY = ""
QDRANT_CLUSTER_ENDPOINT = """
QDRANT_COLLECTION_NAME = "enterprise_search_collection"
GROQ_MODEL_NAME = "llama-3.3-70b-versatile"